*{
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

.logo{
  height: 150px;
  width: 150px;
}

.email {
  border: 1px solid #ccc;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-input {
  width: 100%;
  outline: none;
  padding: 10px 40px 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#pwd-visibility {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

#pwd-visibility:hover {
  color: #000;
}

#pwd-block, #role-block, #forgot-block{
  display: none;
}

.error-border{
  border: 1px solid red;
}

small{
  display: none;
}